extends header.pug
block variables
   - var pageTitle = 'Добавить автосервис. Контакты, режим работы, услуги, отзывы'
block content

  h2 Это страница добавления сервиса
  p #{foo}
  h3 #{bar}
  form(action="/addservice" method="POST")
    ul(class="flex-outer")
      li
        label(for="name") Название: 
        input(type="text" id="name" name="name" placeholder="Введите название сервиса")
      li
        label(for="city") Город: 
        input(type="text" id="city" name="city" placeholder="Введите город")
      li
        label(for="adress") Адрес: 
        input(type="text" id="adress" name="adress" placeholder="Введите адрес")
      li
        label(for="rezhim") Режим работы: 
        input(type="text" id="rezhim" name="rezhim" placeholder="Укажите режим работы")
      li
        label(for="email") Контактный e-mail:  
        input(type="email" id="email" name="email" placeholder="Введите email")
      li
        p Телефоны: 
        ul(class="flex-inner")
          li
            p Основной:
            span(class="tip-addservice") Формат: 8-999-000-1234
              input(type="tel" name="phone1" pattern="[8]{1}-[0-9]{3}-[0-9]{3}-[0-9]{4}")
          li
            p Дополнительный:
              input(type="text" name="phone2" placeholder="если есть")
      li
        p Специализация: 
        ul(class="flex-inner")
          span(class="tip-addservice") Отметьте виды работ выполняемые в вашем сервисе
          
          li
            input(type="checkbox" value="2" name="raboty") 
            | техническое обслуживание
          li
            input(type="checkbox" value="3" name="raboty") 
            | ремонт подвески
          li
            input(type="checkbox" value="7" name="raboty") 
            | тормозная система
          li
            input(type="checkbox" value="8" name="raboty") 
            | рулевое управление
          li
            input(type="checkbox" value="9" name="raboty") 
            | трансмиссия
          li
            input(type="checkbox" value="10" name="raboty") 
            | двигатель
          li
            input(type="checkbox" value="10" name="raboty") 
            | топливная система
          li
            input(type="checkbox" value="10" name="raboty") 
            | охлаждение и обогрев
          li
            input(type="checkbox" value="10" name="raboty") 
            | выхлопная система
          li
            input(type="checkbox" value="10" name="raboty") 
            | электрика
          li
            input(type="checkbox" value="1" name="raboty")
            | кузовной ремонт
          li
            input(type="checkbox" value="10" name="raboty") 
            | стекла, оптика, зеркала
          li
            input(type="checkbox" value="2" name="raboty") 
            | шиномонтаж
          li
            input(type="checkbox" value="3" name="raboty") 
            | автомойка
          li
            input(type="checkbox" value="10" name="raboty") 
            | детейлинг
          li
            input(type="checkbox" value="10" name="raboty") 
            | дополнительное оборудование
      li
        p Способы оплаты: 
        ul(class="flex-inner")
          li
            input(type="checkbox" value="1" name="oplata")
            | наличные
          li
            input(type="checkbox" value="2" name="oplata") 
            | пластиковые карты
          li
            input(type="checkbox" value="3" name="oplata") 
            | безналичный расчет
          li
            input(type="checkbox" value="4" name="oplata") 
            | электронный платеж
      li
        label(for="descrption") Описание:
        textarea(rows="8" id="description" name="desc" placeholder="Дополнительное описание вашего сервиса. Какие работы предпочитаете. Наличие сертификатов, специнструмента. На каких марках специализируетесь. Как лучше подъехать. Дополнительные услуги.")
            
      li  
        button(type="submit") Отправить
  