html
   head
      meta(charset='utf-8')
      meta(
         name='viewport'
         content='width=device-width, initial-scale=1.0'
      )
      link(
         rel='stylesheet'
         href='css/style.css'
      )
      title Каталог услуг которые предоставляют автосервисы
   body
      h1 Работы и усуги автосервисов
      p Для удобства поиска нужного вам автосервиса, мы собрали все виды работ и дополнительных услуг в каталог. Этот каталог поможет быстро выбрать сервис, когда уже известно какие виды работ нужны.
      p Если вы неможете самостоятельно определить, что требует ремонта в автомобиле. Постарайтесь описать проблему здесь. Вам обязательно помогут.
      h2 Техническое обслуживание 
      ul(class="FlexString FlexWrap FlexLeft")
         li Замена масла
         li Замена масляного фильтра
         li Замена воздушного фильтра
         li Замена салонного фильтра
         li Замена топливного фильтра
         li Замена свечей зажигания
         li Замена приводных ремней
         li Замена ремня ГРМ
         li Замена роликов приводных ремней
         li Замена тормозной жидкости
         li Замена охлаждающей жидкости
         li Техосмотр
         li Замена масла АКПП
         li Замена масла МКПП
         li Замена масла в вариаторе
         li Замена масла в раздаточной коробке
         
      h2 Ремонт и диагностика ходовой 
      ul(class="FlexString FlexWrap FlexLeft")
         li Замена амортизаторов
         li Замена пружин
         li Замена сайлентблоков рычагов
         li Замена сайлентблоков задней балки
         li Замена сайлентблоков подрамника
         li Замена рычагов
         li Замена опорного подшипника
         li Замена опоры стойки
         li Замена шаровой опоры
         li Замена стоек стабилизатора
         li Замена втулок стабилизатора
         li Замена ступицы
         li Замена подшипника ступицы
         li Сход-развал
         li Ремонт пневмоподвески
         li Замена поворотного кулака
      h2 Ремонт рулевого
      ul(class="FlexString FlexWrap FlexLeft")
         li Замена рулевых наконечников
         li Замена рулевых тяг
         li Замена пыльника рулевой рейки
         li Замена рулевой рейки
         li Замена насоса ГУР
         li Замена ремня ГУР
         li Замена масла ГУР
         li Замена сальников ГУР
         li Замена шланга ГУР
         li Замена трубки ГУР
         li Замена крестовины рулевого вала
         li Прокачка ГУР
         li Ремонт рулевой рейки
      h2 Ремонт тормозной системы
      ul(class="FlexString FlexWrap FlexLeft")
         li Замена передних тормозных колодок
         li Замена задних тормозных колодок
         li Замена передних тормозных дисков
         li Замена задних тормозных дисков
         li Замена тормозных барабанов
         li Замена тормозного суппорта
         li Замена тормозного шланга
         li Замена троса ручника
         li Замена датчика ABS
         li Замена вакуумног усилителя
         li Замена крестовины рулевого вала
         li Прокачка тормозной системы
         li Проточка тормозных дисков
         li Регулировка стояночного тормоза
         li Ремонт тормозного суппорта
         li Смазка тормозного суппорта
      h2 Ремонт трансмиссии
      ul(class="FlexString FlexWrap FlexLeft")
         li Замена сцепления
         li Замена сцепления DSG
         li Замена выжимного подшипника
         li Замена гидроблока
         li Замена карданного вала
         li Замена крестовин кардана
         li Замена цилиндра сцепления
         li Замена троса сцепления
         li Замена главного цилиндра
         li Замена вакуумного усилителя
         li Замена крестовины рулевого вала
         li Замена сальника коробки
         li Замена приводного вала
         li Замена наружнего ШРУСа
         li Замена внутреннего ШРУСа
         li Замена пыльника ШРУСа
         li Замена подвесного подшипника
         li Регулировка сцепления
         li Ремонт карданного вала
         li Ремонт МКПП
         li Ремонт АКПП
         li Ремонт вариатора
         li Ремонт DSG

      h2 Двигатель
      ul(class="FlexString FlexWrap FlexLeft")
         li Диагностика двигателя
         li Замена ГРМ
         li Замена цепи ГРМ
         li Замена прокладки ГБЦ
         li Замена прокладки клапанной крышки
         li Замена сальника распредвала
         li Замена сальника коленвала
         li Замена поршневых колец
         li Замена форсунок
         li Замена гидрокомпенсаторов
         li Замена маслосъемных колпачков
         li Замена свечей зажигания
         li Замена свечей накаливания
         li Замена турбины
         li Замена опоры двигателя
         li Капитальный ремонт двигателя
         li Регулировка клапанов
         li Ремонт турбины
         li Шлифовка головки блока
      h2 Охлаждение и обогрев
      ul(class="FlexString FlexWrap FlexLeft")
         li Диагностика кондиционера
         li Замена радиатора двигателя
         li Замена радиатора печки
         li Замена радиатора кондиционера
         li Замена термостата
         li Замена моторчика печки
         li Замена датчика температуры
         li Замена охлаждающей жидкости
         li Заправка кондиционера
         li Замена ремня кондиционера
         li Замена патрубков
         li Замена вакуумного усилителя
         li Замена крестовины рулевого вала
         li Опрессовка кондиционера
         li Промывка радиатора
         li Ремонт компрессора
         li Ремонт радиатора
         li Чистка кондиционера
      h2 Топливная система
      ul(class="FlexString FlexWrap FlexLeft")
         li 
            a(href="/raboty/diagnostika-toplivnoy-sistemy") Диагностика топливной системы
         li Замена топливного фильтра
         li Замена топливного насоса
         li Замена датчика топлива
         li Замена топливного шланга
         li Замена ТНВД
         li Замена форсунок
         li Промывка топливной системы
         li Ремонт топливного бака
         li Ремонт ТНВД
         li Ремонт газового оборудования
         li Установка газового оборудования
         li Чистка инжектора
         li Чистка топливных форсунок
      h2 Электрика
      ul(class="FlexString FlexWrap FlexLeft")
         li Диагностика электрики
         li Замена генератора
         li Замена стартера
         li Замена замка зажигания
         li Замена катушки зажигания
         li Замена ламп
         li Замена фильтра
         li Замена предохранителя
         li Замена датчика температуры
         li Замена датчика коленвала
         li Замена датчика кислорода
         li Покраска крыла
         li Покраска двери
         li Прошивка ЭБУ
         li Ремонт генератора
         li Ремонт стартера
      h2 Кузовной ремонт
      ul(class="FlexString FlexWrap FlexLeft")
         li Восстановление геометрии кузова
         li Замена бампера
         li Замена двери
         li Замена крыла
         li Замена капота
         li Замена крышки багажника
         li Замена порогов
         li Полная покраска автомобиля
         li Покраска одной детали
         li Покраска бампера
         li Покраска крыла
         li Покраска двери
         li Покраска крыши
         li Сварочные работы
         li Удаление вмятин без покраски
         